<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
  <h1>Admin Dashboard</h1>
  <button class="btn btn-primary"><a href="/admin/members">Members</a></button>
  <%- include('partials/script.ejs') %>
</body>
</html>