<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <h1>Home</h1>
    <button class="btn btn-primary"><a href="/login"> Login</a></button>
    <button class="btn btn-primary"><a href="/signup"> Signup</a></button>

    <%- include('partials/script.ejs') %>
</body>
</html>