<!DOCTYPE html>
<html lang="en">
    <%- include('../../partials/head.ejs') %>
<body>
    <h1>Member View</h1>
    <% console.log(member) %>
    <p><%= member.memberNumber %></p>    
    <%- include('../../partials/script.ejs') %>
</body>
</html>